torch
transformers
datetime
langchain-community
streamlit-chat
streamlit
python-docx
PyPDF2
langchain
langchain-google-genai
python-dotenv
scikit-learn
faiss-cpu
google-generativeai
protobuf
tiktoken
numpy
pandas
